// Block
.block
	overflow: hidden
.block,
.b-text
	p:first-child
		margin-top: 0
	p:last-child
		margin-bottom: 0
.headline,
article:not(.type-page) > header > h2.entry-title
	line-height: 1.2
	margin-top: 0
	font-size: 2rem
	@media all and (max-width: $bp-sm-max)
		font-size: 1.7rem
.block-hero .headline
	@media all and (min-width: $bp-med)
		font-size: 2.4rem
.block-hero,
.block-sub
	.inner
		display: block
		position: relative
	.b-text
		color: $white
	@media all and (max-width: $bp-sm-max)
		.headline
			line-height: 1.1
	@media all and (min-width: $bp-small) and (max-width: $bp-sm-max)
		width: "calc(50% - %s)" % $space-quarter
article[id^="post-"],
.block-hoagie
	@extend .cf
	width: 100%
	.b-inner
		overflow: hidden
	.b-thumb
		float: left
	@media all and (max-width: $bp-xs-max)
		.b-thumb
			float: none
			img
				max-width: 22.5rem
		.b-text
			p:first-child
				margin-top: $space-quarter
	@media all and (max-width: $bp-sm-max)
		.b-text
			p
				font-size: 1.4rem
	@media all and (min-width: $bp-small)
		.hoagies-two-col &
			.headline
				float: right
				padding: 0 $space
				width: $column-width-three-quarters
			.b-thumb
				width: $column-width-one-quarter
			.b-text
				float: right
				padding: 0 $space
				width: $column-width-three-quarters
.post-list article[id^="post-"],
.block-hoagie
	margin-bottom: $space
.hoagies-two-col
	margin-bottom: 0
