/* Two Column Layout */
.l-two-col
	@extend .cf
	@media all and (max-width: $bp-sm-max)
		.l-sidebar
			clear: both
	@media all and (min-width: $bp-med)
		.l-main
			float: left
			width: 70%
			padding-right: $pad
		.l-sidebar
			float: left
			width: 30%
			padding: 0 0 0 $pad
/* Main */
[role="main"]
	padding: $pad-half
	overflow: hidden
	@extend .lc
	@extend .cf
/* Hero and Insets */
.hero-and-insets
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	padding-bottom: $pad-and-half
