/* Two Column Layout */
.l-two-col
	@extend .cf
	@media all and (max-width: $bp-sm-max)
		.l-sidebar
			clear: both
	@media all and (min-width: $bp-med)
		.l-main
			float: left
			width: 70%
			padding-right: $pad
		.l-sidebar
			float: left
			width: 30%
			padding: 0 0 0 $pad
/* Main */
[role="main"]
	padding: $pad-half
	overflow: hidden
	@extend .lc
	@extend .cf
/* Block */
.block
	overflow: hidden
	p:last-child
		margin-bottom: 0
.headline
	line-height: 1.2
/* Hero and Insets */
.hero-and-insets
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	padding-bottom: $pad-and-half
.block-hero,
.block-inset
	.inner
		display: block
		position: relative
	.b-text
		color: $white
	@media all and (min-width: $bp-small) and (max-width: $bp-sm-max)
		width: calc(50% - 0.4rem)
/* Hero Block */
.block-hero
	margin-bottom: $space-half
	.b-thumb
		img
			display: block
	@media all and (max-width: $bp-xs-max)
		.b-text
			display: flex
			flex-flow: column nowrap
			justify-content: center
			height: 8.7rem
	@media all and (max-width: $bp-sm-max)
		.b-text
			background: $dimmer
			overflow: hidden
		.headline
			font-size: 1.8rem
			padding: 0 $pad-half
	@media all and (min-width: $bp-small) and (max-width: $bp-sm-max)
		.b-thumb
			padding-top: 75%
		img
			position: absolute
			top: 0
			left: 0
		.b-text
			overflow: hidden
			padding-top: 19%
			position: absolute
			bottom: 0
			left: 0
			width: 100%
		.headline
			position: absolute
			top: 50%
			left: 0
			transform: translateY(-50%);
	@media all and (min-width: $bp-med)
		position: relative
		.b-text
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			background: $dim
			color: $white
			padding: $pad-and-half
/* Block Inset */
.block-inset
	margin-bottom: $space-half
	position: relative
	.b-thumb
		position: relative
		z-index: 0
		img
			display: block
	.b-text
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		background: $dim
		color: $white
		padding: $pad-half
	@media all and (max-width: $bp-sm-max)
		.headline
			font-size: 1.7rem
	@media all and (min-width: $bp-med)
		padding-top: $pad-half
		width: calc(33.3333333% - 1.0666666rem)
		.headline
			font-size: 1.8rem
/* Block Thumbnail with Headline */
.block-thumb
	display: table
	width: 100%
	border-collapse: collapse
	.b-inner
		display: table-row
		vertical-align: top
		overflow: hidden
	.b-thumb
		float: left
	.b-text
		float: right
	@media all and (max-width: $bp-xs-max)
		.b-thumb
			max-width: 22.5rem
	@media all and (max-width: $bp-sm-max)
		.headline
			font-size: 1.8rem
		.b-text
			p
				font-size: 1.4rem
	@media all and (min-width: $bp-small)
		.headline
			float: right
			padding: 0 $pad
			width: 70%
		.b-thumb
			width: 30%
		.b-text
			width: 70%
			padding: 0 $pad
/* Block Headline Summary */
.block-headline-summary
	a
		display: block
		padding: $pad-half
/* Block Thumb with Summary */
.block-thumb-summary
	.b-thumb
		float: left
		width: 50%
	.b-text
		margin-left: 50%
		padding: $pad-half
