<section class="comments section">
	{{# comments }}
		<h2 class="section-title">{{ count }}</h2>
		{{ the_comments_pagination }}
		<ul class="comment-list">
			{{# comment_placholders }}
				{{> 01-compounds/01-blocks/03-single-comment }}
			{{/ comment_placholders }}
		</ul>
		{{ the_comments_pagination }}
	{{/ comments }}
	{{> 01-compounds/02-forms/01-comment-form }}
</section>
