/*------------------------------------*
	$NAVIGATION
*------------------------------------*/
.nav
	clear: both
	overflow: hidden
	max-height: 0
	a
		display: block
		padding: $pad
		border-top: 1px solid $gray-light-2
	&.active
		max-height: 40em
	@media all and (min-width: $bp-med)
		max-height: none
		float: right
		clear: none
		li
			float: left
		a
			border: 0
//Pagination
.pagination
	display: flex
	flex-wrap: wrap
	justify-content: center
	padding-bottom: 1em
	overflow: hidden
	.nav-links > *
		display: block
		float: left
		padding: 0 $pad
		border-right: 1px solid $gray-light-2
		&:last-child
			border: 0
	@media all and (max-width: $bp-small - 1px)
		.nav-links > *
			padding: 0 $pad-half
			&:first-child
				padding-left: 0
			&:last-child
				padding-right: 0
	@media all and (min-width: $bp-large)
		justify-content: flex-start
