{{# comments }}
	<section class="comments section">
		<div class="comments-container">
			<h2 class="section-title">{{ amount }}</h2>
			<ul class="comment-list">
				{{#listItems.five}}
					{{> molecules-single-comment }} 
				{{/listItems.five}}
			</ul>
			{{> molecules-comment-form }} 
		</div>
	</section>
{{/ comments }}
