<aside id="recent-posts-2" class="widget widget_recent_entries">
	<h2 class="widget-title">Recent Posts</h2>
	<ul>
		<li><a href="#">Headline Lorem ipsum dolor sit amet</a></li>
		<li><a href="#">Laborum, molestiae, rerum, dolores eveniet </a></li>
		<li><a href="#">quae est fugit distinctio iure odit minus non ipsum </a></li>
		<li><a href="#">dolorum deserunt omnis voluptates voluptatum</a></li>
		<li><a href="#">nventore dignissimos vel molestiae, rerum, dolore</a></li>
	</ul>
</aside>
