/* Two Column Layout */
.l-two-col
	@extend .cf
	body.home &
		border-top: 2px solid $gray-light-2
		margin-top: $space-half
		padding-top: $space-double
	@media all and (max-width: $bp-sm-max)
		.l-sidebar
			clear: both
	@media all and (min-width: $bp-med)
		.l-main
			float: left
			width: 70%
			padding-right: $space
		.l-sidebar
			float: left
			width: 30%
			padding: 0 0 0 $space
/* Main */
[role="main"]
	padding: $space-half
	overflow: hidden
	@extend .lc
	@extend .cf
/* Hero and Subs */
.hero-and-subs
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	padding-bottom: $space-and-half
	@media all and (max-width: $bp-xs-max)
		display: block
