<div class="page" id="page">
	<div role="main">
		<section class="hero-and-insets">
			{{# hero }}
				{{> 01-compounds/02-blocks/02-block-hero.mustache }}
			{{/ hero }}

			{{# touts }}
				{{> 01-compounds/02-blocks/05-inset-block.mustache }}
			{{/ touts }}
		</section>

		<hr />

		<div class="l-two-col">
			<div class="l-main">
				<section class="section latest-posts">
					<h2 class="section-title">Latest Posts</h2>
					<ul class="post-list">
						{{# latest_posts }}
							<li>
								{{> 01-compounds/02-blocks/00-media-block.mustache }}
							</li>
						{{/ latest_posts }}
					</ul>
					<a href="{{ view_more_href }}" class="text-btn">View more posts</a>
				</section>
			</div><!--end .l-main-->

			<div class="l-sidebar">
				{{> 02-components/04-sections/01-recent-comments }}
			</div><!--end .l-sidebar-->
		</div><!--end .l-two-col-->
	</div><!--End role=main-->
</div>
