<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	<div class="footer-content">
		<div class="site-title">{{{ footer_content }}}</div>
		{{{ footer_menu }}}
		{{{ social_menu }}}
	</div>
</footer>
<!-- End Footer -->
