<!-- Begin .header -->
<header class="header cf" role="banner">
	{{> 01-compounds/01-blocks/04-logo.mustache }}
	<a href="#" class="nav-toggle nav-toggle-search icon-search"></a>
	<a href="#" class="nav-toggle nav-toggle-menu icon-menu"></a>
	{{> 02-components/01-sections/02-widget-area }}
	{{> 02-components/03-navigation/00-primary-nav }}
</header>
<!-- End .header -->
