<!-- Begin .header -->
<header class="header cf" role="banner">
	{{> 00-elements/02-images/00-logo.mustache }}
	<a href="#" class="nav-toggle nav-toggle-search icon-search"></a>
	<a href="#" class="nav-toggle nav-toggle-menu icon-menu"></a>
	{{> 01-compounds/02-forms/00-search }}
	{{> 01-compounds/03-navigation/00-primary-nav }}
</header>
<!-- End .header -->
