<div class="page" id="page">
	<div role="main">
		<h1 class="section-title">{{ page_title }}</h1>
		<div class="l-two-col">
			<div class="l-main">
				<section class="section latest-posts">
					
					<ul class="post-list">
						{{# latest_posts }}
							<li>
								{{> 01-compounds/02-blocks/00-media-block.mustache }}
							</li>
						{{/ latest_posts }}
					</ul>
				</section>
				{{{ pagination_label }}}
				{{> compounds-pagination }}
			</div><!--end l-main-->
			<div class="l-sidebar">
				{{> 02-components/04-sections/01-recent-comments }}
			</div><!--end l-sidebar-->
		</div><!--end two-col-->
	</div><!--End role=main-->
</div>
