<!-- Begin .header -->
<header class="header cf" role="banner">
	{{> 00-elements/04-images/00-logo.mustache }}
	<a href="#" class="nav-toggle nav-toggle-search icon-search"><span class="is-vishidden">Search</span></a>
	<a href="#" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
	{{> 01-compounds/05-navigation/00-primary-nav }}
	{{> 01-compounds/04-forms/00-search }}
</header>
<!-- End .header -->
