<div class="page" id="page">
	<div role="main">
		<div class="l-two-col">
			<div class="l-main">
				{{# article }}
					<article class="article">
						<header class="article-header">
							<h1>{{ article_title }}</h1>
							{{> 01-compounds/00-text/00-byline-author-time }}
						</header>
						{{> 02-components/01-article/00-article-body }}
					</article><!--end .article-->
					{{> 02-components/02-comments/00-comment-thread }}
				{{/ article }}
			</div><!--end l-main-->

			<div class="l-sidebar">
				{{> 02-components/03-sections/01-related-posts }}
				{{> 02-components/03-sections/00-recent-comments }}
			</div><!--end l-sidebar-->
		</div><!--end l-two-col-->
	</div><!--End role=main-->
</div>
