// /////////////////////////////////////////////////////////////////////////////
// variables.styl is shared between browser JavaScripts and Stylus.
// /////////////////////////////////////////////////////////////////////////////
@import '../../../_scripts/src/variables'

// /////////////////////////////////////////////////////////////////////////////
// The base on which the rest of the styles are built.
// /////////////////////////////////////////////////////////////////////////////
@import 'partials/base/variables'
@import 'partials/base/helpers'
@import 'partials/base/reset'
@import 'partials/base/global'
@import 'partials/base/animation'
@import 'partials/base/icons'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Element subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import 'partials/elements/text'
@import 'partials/elements/lists'
@import 'partials/elements/images'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Compound subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import 'partials/compounds/text'
@import 'partials/compounds/forms'
@import 'partials/compounds/navigation'
@import 'partials/compounds/messaging'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Component subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import 'partials/components/article'
@import 'partials/components/comments'
@import 'partials/components/sections'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Pages.
// /////////////////////////////////////////////////////////////////////////////
@import 'partials/pages/header'
@import 'partials/pages/layout'
@import 'partials/pages/footer'

// These rules are here to pass theme-check.
.bypostauthor 
	> article
		.fn:after
			content: "\f304"
			left: 3px
			position: relative
			top: 5px
.sticky
	.posted-on
		display: none
