// /////////////////////////////////////////////////////////////////////////////
// variables.styl is shared between browser JavaScripts and Stylus.
// /////////////////////////////////////////////////////////////////////////////
@import '../../../_scripts/src/variables'

// /////////////////////////////////////////////////////////////////////////////
// The base on which the rest of the styles are built.
// /////////////////////////////////////////////////////////////////////////////
@import 'parent/0-base/00-variables'
@import 'parent/0-base/01-helpers'
@import 'child/0-base/05-header'
@import 'child/0-base/06-layout'
@import 'child/0-base/07-footer'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Compound subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import 'child/01-compounds/01-blocks'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Component subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import 'child/02-components/01-sections'
@import 'child/02-components/02-comments'
@import 'child/02-components/03-navigation'
