// /////////////////////////////////////////////////////////////////////////////
// variables.styl is shared between browser JavaScripts and Stylus.
// /////////////////////////////////////////////////////////////////////////////
@import '../../../_scripts/src/variables'

// /////////////////////////////////////////////////////////////////////////////
// The base on which the rest of the styles are built.
// /////////////////////////////////////////////////////////////////////////////
@import '0-base/variables'
@import '0-base/reset'
@import '0-base/icons'
@import '0-base/helpers'
@import '0-base/global'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Element subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import '00-elements/00-text'
@import '00-elements/01-lists'
@import '00-elements/02-images'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Compound subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import '01-compounds/00-text'
@import '01-compounds/01-blocks'
@import '01-compounds/02-forms'
@import '01-compounds/03-navigation'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Component subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import '02-components/01-article'
@import '02-components/02-comments'
@import '02-components/03-sections'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Pages.
// /////////////////////////////////////////////////////////////////////////////
@import '04-pages/header'
@import '04-pages/layout'
@import '04-pages/footer'

// These rules are here to pass theme-check.
.bypostauthor 
	> article
		.fn:after
			content: "\f304"
			left: 3px
			position: relative
			top: 5px
.sticky
	.posted-on
		display: none
