.l-sidebar-1 .widget_recent_entries
	display: none
	.fp-single &
		display: block
@media all and (max-width: $bp-xs-max)
	.l-sidebar-1 .widget_recent_entries,
	.headline,
	[class$="title"]
		text-align: center
