.header
	div.nav,
	div[class^="menu-"]
		a
			color: $gray-dark
	@media all and (min-width: $bp-med)
		div.nav,
		div[class^="menu-"]
			ul
				min-height: 3.4rem
		div.nav:last-child
			margin-left: 0
