<section class="comments section">
	<div class="comments-container">
		{{# comments }}
			<h2 class="section-title">{{ count }}</h2>
			<ul class="comment-list">
				{{# listItems.five }}
					{{> 01-compounds/06-components/02-single-comment }}
				{{/ listItems.five }}
			</ul>
		{{/ comments }}
		{{> 01-compounds/04-forms/01-comment-form }}
	</div>
</section>
