<nav class="navigation post-navigation" role="navigation" aria-label="Posts">
	<h2 class="screen-reader-text">Post navigation</h2>
	<div class="nav-links">
		<div class="nav-previous">
			<a href="#" rel="prev"><span class="meta-nav">Previous post:</span> <span class="post-title">{{ previous_post_title }}</span></a>
		</div>
		<div class="nav-next">
			<a href="#" rel="next"><span class="meta-nav">Next post:</span> <span class="post-title">{{ next_post_title }}</span></a>
		</div>
	</div>
</nav>
