{{# search }}
	<div id="widget-area" class="widget-area" role="complementary">
		<aside id="search-3" class="widget widget_search">
			<form role="search" method="get" class="search-form" action="{{ action }}">
				<label>
					<span class="screen-reader-text">Search for:</span>
					<input class="search-field" placeholder="Search …" value="" name="s" title="Search for:" type="search">
				</label>
				<input class="search-submit" value="Search" type="submit">
			</form>
		</aside>
	</div>
{{/ search }}