.comments {
	&.section {
		border-top: 1px solid $gray-light-3;
		margin-top: 2em;

		.section-title {
			margin: 1rem 0;
		}

		.comment {
			min-height: 9em;
		}

		.reply {
			display: none;
		}
	}

	li {
		margin-bottom: $space;
	}
}

.comment-container {
	overflow: hidden;
	margin-bottom: $space;
}

.comment-meta {
	float: left;
	min-height: 9em;
	width: 12em;

	img {
		display: block;
		border: 1px solid $gray-light-2;
		margin-bottom: $space-half;
	}
}

.comment-author,
.comment-metadata,
.comment-name {
	font-size: $font-size-sm;
}

.comment-text {
	margin-left: 9em;
}

.comment-respond {
	border-top: 1px solid $gray-light-3;
	padding-top: 1em;
}
