<aside id="recent-posts" class="widget widget_recent_entries">
	<h2 class="widgettitle">Recent Posts</h2>
	{{# related_posts }}
		{{> 00-elements/01-lists/00-unordered }}
	{{/ related_posts }}
</aside>
