<aside id="recent-posts-2" class="widget widget_recent_entries">
	<h2 class="widgettitle">Recent Posts</h2>
	{{# recent_posts }}
		{{> 00-elements/01-lists/00-unordered }}
	{{/ recent_posts }}
</aside>
