<main id="main" class="fp-front-page {{ hoagies_classes }}" role="main">

	{{# latest_posts }}
		{{> 03-templates/template-parts/content }}
		{{{ front_page_comments }}}
	{{/ latest_posts }}

</main>
