<!-- Begin Footer -->
<footer id="footer" class="footer" role="contentinfo">
	<div class="footer-content">
		<p class="site-info">{{{ footer_content }}}</p>
		{{{ footer_menu }}}
		{{{ social_menu }}}
	</div>
</footer>
<!-- End Footer -->
