<!-- Begin .header -->
<style type="text/css">
	{{{ header_styles }}}
</style>
{{ nav_toggle_php }}
<div class="header-container">
	<header id="header" class="header cf" role="banner">
		<div class="site-branding">
			{{^ new_install? }}
				{{> 01-compounds/01-blocks/04-logo }}
			{{/ new_install? }}
			{{# new_install? }}
				{{# is_front_page? }}
					<h1 class="site-title">
				{{/ is_front_page? }}
				{{^ is_front_page? }}
					<div class="site-title">
				{{/ is_front_page? }}
					<a href="{{{ url }}}">{{{ site_title }}}</a>
				{{# is_front_page? }}
					</h1">
				{{/ is_front_page? }}
				{{^ is_front_page? }}
					</div>
				{{/ is_front_page? }}
				<h2 class="site-description">{{{ tagline }}}</h2>
			{{/ new_install? }}
		</div>
		{{# has_search }}
			<a href="#" class="nav-toggle nav-toggle-search icon-search"></a>
		{{/ has_search }}
		<a href="#" class="nav-toggle nav-toggle-menu icon-menu"></a>
		{{> 02-components/01-sections/02-widget-area }}
		{{> 02-components/03-navigation/00-primary-nav }}
	</header>
</div>
<!-- End .header -->
