img, video, object
	display: block
	height: auto
	max-width: 100%
.logo
	float: left
	margin: 0.65rem 1.5rem 0.65rem 0.65rem
	img
		height: 3.7rem
		@media all and (min-width: $bp-med)
			height: 4.2rem
