<div class="block block-hoagie">
								<a href="{{ url }}" class="b-inner cf">
									<h2 class="headline">{{ headline.short }}</h2>
									<div class="b-thumb">
										{{> elements-square }}
									</div>
									<div class="b-text">
										{{{ excerpt.medium }}}
									</div>
								</a>
							</div>
