<div class="block block-hoagie">
									<a href="{{ url }}" class="b-inner cf">
										<h2 class="headline">{{ headline.short }}</h2>
										{{# demo_site? }}
											<div class="b-thumb">
												{{> elements-square }}
											</div>
										{{/ demo_site? }}
										<div class="b-text">
											{{{ excerpt.medium }}}
										</div>
									</a>
								</div>
