<li class="comment depth-1 {{ styleModifier }}">
	<article class="comment-body">
		<footer class="comment-meta">
			<div class="comment-author vcard">
				{{> elements-avatar }}
				<b class="fn">{{ name.first }} {{ name.last }}</b> <span class="says">says:</span>
			</div>
			<div class="comment-metadata">
				<a href="#">
					<time>October 1 at 12:18 am</time>
				</a>
			</div>
		</footer>
		<div class="comment-content">
			<p>{{ description }}</p>
		</div>
		<div class="reply">
			<a rel="nofollow" class="comment-reply-link" href="#" aria-label="Reply to admin">Reply</a>
		</div>
	</article>
</li>
