.nav
	clear: both
	margin-top: -0.1rem
	overflow: hidden
	ul
		background: $white-translucent
	a
		display: block
	@media all and (max-width: $bp-sm-max)
		max-height: 0
		position: absolute
		top: 5.1rem
		left: 0
		width: 100%
		z-index: 1
		li
			border-top: 1px solid $gray-light-3
		a
			display: table
			padding: $pad-half $pad
		.children
			li
				padding-left: 2rem
	@media all and (min-width: $bp-med)
		border-top: 1px solid $gray-light-2
		clear: none
		float: left
		padding-top: $pad-quarter * 3
		li
			float: left
		a
			border: 0
			padding: $pad-quarter $pad
		> ul
			> li:first-child
				a
					padding-left: $pad-half
			> li > .children
				position: absolute
		.page_item_has_children
			> a::after
				color: $gray
				content: "▼"
				font-size: $font-size-sm
				margin-left: $space-half
			&:hover
				.children
					max-height: 100%
			.page_item_has_children
				padding-left: 1rem
		.children
			max-height: 0
			overflow: hidden
			transition: max-height 0.3s ease
			z-index: 2
			li
				border: 1px solid $gray-light-2
				border-bottom: 0
				float: none
				width: 100%
			li:last-child
				border-bottom: 1px solid $gray-light-2
			.children
				background: transparent
				li
					border-right: 0
					border-bottom: 0
					border-left: 0
.pagination
	display: flex
	flex-wrap: wrap
	justify-content: center
	padding-bottom: 1em
	overflow: hidden
	.nav-links > *
		display: block
		float: left
		padding: 0 $pad
		border-right: 1px solid $gray-light-2
		&:last-child
			border: 0
	@media all and (max-width: $bp-small - 1px)
		.nav-links > *
			padding: 0 $pad-half
			&:first-child
				padding-left: 0
			&:last-child
				padding-right: 0
	@media all and (min-width: $bp-med)
		justify-content: flex-start
