<div class="page" id="page">
	<div role="main">
		{{# emergency }}
			{{> 01-compounds/07-messaging/00-alert }}
		{{/ emergency }}
		{{# hero }}
			{{> 01-compounds/02-blocks/02-block-hero.mustache }}
		{{/ hero }}

		<div class="g g-3up">
			{{# touts }}
				<div class="gi">
					{{> 01-compounds/02-blocks/05-inset-block.mustache }}
				</div>
			{{/ touts }}
		</div><!--end 3up-->

		<hr />

		<div class="l-two-col">
			<div class="l-main">
				<section class="section latest-posts">
					<h2 class="section-title">Latest Posts</h2>
					<ul class="post-list">
						{{# latest-posts }}
							<li>
								{{> 01-compounds/02-blocks/00-media-block.mustache }}
							</li>
						{{/ latest-posts }}
					</ul>
					<a href="{{ view-more--href }}" class="text-btn">View more posts</a>
				</section>
			</div><!--end .l-main-->

			<div class="l-sidebar">
				{{> 02-components/04-sections/01-recent-comments }}
			</div><!--end .l-sidebar-->
		</div><!--end .l-two-col-->
	</div><!--End role=main-->
</div>
