<!-- Begin .header -->
<header class="header cf" role="banner">
	{{> 00-atoms/03-images/00-logo.mustache }}
	{{> 01-molecules/05-navigation/00-primary-nav }}
	{{> 01-molecules/04-forms/00-search }}
</header>
<!-- End .header -->
