.header-container
	width: 100%
.header
	@extend .lc
	padding: 0
	width: 100%
	a
		&:hover, &:focus
			color: $gray
.site-branding
	float: left
	margin: $space-half
.site-title
	font-size: 2em
	font-weight: bold
	line-height: 1.2
	margin: 0
	padding: 0
.nav-toggle
	display: block
	float: right
	font-size: 2.08rem
	line-height: 1
	padding: 1rem
	position: relative
	right: 0
	width: 4rem
	height: 4.14rem // This height vertically aligns 1st widget (Archives) with Description/Tagline
	// on new install at 414-455 wide viewports. This specific decimal helps align across browsers.
	z-index: 2
	&:active
		background-color: $gray-light-1
	&.focused
		.header & // For specificity.
			color: $gray
.toggle-open
	max-height: none !important
@media all and (max-width: $bp-sm-max)
	.site-branding
		// The subtraction of 2 * $nav-toggle-n-border is a holdover from an earlier release.
		// This gives space for the nav toggles to float in the upper right, but is an arbitrary measurement in the
		// parent theme. Nonetheless, there is no point in changing it.
		max-width: "calc(100% - (2 * %s))" % $nav-toggle-n-border
@media all and (min-width: $bp-med)
	.nav-toggle,
	.hidden-link
		display: none !important
@media all and (min-width: $max-width)
	.header > *:not(.site-branding)
		padding-right: "calc((100% - %s) / 2)" % $max-width
		padding-left: "calc((100% - %s) / 2)" % $max-width
