// Two Column Layout
.l-two-col
	@extend .cf
	.l-main
		@media all and (min-width: $bp-med)
			float: left
			width: $column-width-two-thirds
		@media all and (min-width: $bp-large)
			width: $column-width-three-quarters
	.l-sidebar
		@media all and (max-width: $bp-sm-max)
			clear: both
		@media all and (min-width: $bp-med)
			float: left
			width: $column-width-one-third
			padding: 0 0 0 $space
		@media all and (min-width: $bp-large)
			width: $column-width-one-quarter
// Main
#main,
[role="main"]
	@extend .lc
	@extend .cf
	padding: $space-double $space-half $space-double
	overflow: hidden
