.footer
	bottom: 0
	clear: both
	overflow: hidden
	background-color: $gray-dark-2
	color: $white
	position: absolute
	width: 100%
	a
		color: $white
		&:focus
			color: $gray
		@media (hover: hover)
			&:hover
				color: $gray
	p
		margin-bottom: 0
	.footer-content
		@extend .lc
		display: flex
		align-items: center
		flex-wrap: wrap
		justify-content: space-between
		padding: $space-half
		width: 100%
		div[class^="menu-"]
			font-size: 0.75em
		.site-info
			margin: 0.5rem 0
	div[class^="menu-"],
	ul,
	.page_item_has_children,
	.menu-item-has-children
		@extend .cf
	ul,
	li,
	.page_item_has_children > a,
	.menu-item-has-children > a
		float: left
	li
		margin-right: $space
	li:last-child
		margin-right: 0
	.children,
	.sub-menu
		margin-left: $space
		> li:last-child
			margin-right: 0
