#widget-area
	aside
		margin-bottom: $space-half
		padding: 1em $space-half 0 $space-half 
	aside:first-child
		float: right
		margin-bottom: 0
		padding-top: 0
	aside:nth-child(2)
		clear: both
	aside:last-child
		border-bottom: 1px solid $gray-light-2
		.header &
			border-bottom: 0
	aside:not(.widget_search)
		@extend .cf
	ul
		display: flex
		flex-wrap: wrap
		a
			padding: 0.25em $space-double
			&:first-child
				padding-left: 0
	@media all and (min-width: $bp-small)
		.widget_recent_entries,
		.widget_recent_comments
			float: left
			padding-top: $space-double
			width: 50%
			ul
				li
					float: none
		.widget_recent_entries + aside:not(.widget_recent_comments),
		.widget_recent_comments + aside
			clear: both
*:not(#widget-area) >
	.widget_recent_entries,
	.widget_recent_comments
		> ul > li
			border-top: 1px solid $gray-light-2
			padding: 0.25em 0
article[id^="post-"]
	@extend .cf
.section-title,
.widgettitle
	margin-bottom: $space-half
