$img-size-xs = 8.75rem
$meta-width = 17rem
.comments
	border-top: 1px solid $gray-light-3
	margin-top: 2em
	.section-title
		margin: 0.625em 0 0
	.comment
		min-height: 9em
		padding: 0.75em 0 0.5em
	.comment-body
		@extend .cf
		padding-bottom: 0.5em
		position: relative
	.comment-meta
		float: left
		min-height: 9em
		padding-right: $space
		width: $meta-width
		img,
		svg
			display: block
			border: 1px solid $gray-light-2
			margin-bottom: 0.25em
			width: 5em
			height: 5em
		.fn,
		.says,
		.comment-metadata
			font-size: 1.2rem
		.comment-metadata
			line-height: 1.6rem
			margin-top: 0.2rem
	.comment-author
		line-height: 1
	.comment-meta + .comment-content
		margin-left: $meta-width
		width: "calc(100% - %s)" % $meta-width
		p
			margin: 0
	.comment-meta + .comment-content + .reply
		margin: 0.25em 0 0 $meta-width
		&::before
			content: "•"
	.children
		border-bottom: 1px solid $gray-light-3
		border-left: 1px solid $gray-light-3
		margin-left: 0.75em
	#reply-title
		font-size: 1.5em
	@media all and (max-width: $bp-xs-max)
		.comment
			margin: 0
		.comment-body
			padding-bottom: 0
		.comment-meta
			float: none
			min-height: auto
			padding: 0
			width: 100%
		.comment-author
			position: relative
			img,
			svg
				float: left
				margin-right: $space-half
			.fn
				margin: 0
				&::before
					content: "\A\A"
					white-space: pre
		.comment-meta + .comment-content
			clear: both
		.comment-meta + .comment-content,
		.comment-meta + .comment-content + .reply
			margin-left: 0
			width: auto
		.comment-meta + .comment-content + .reply
			float: right
			margin-top: 0
			margin-right: $space-half
		.children
			.comment-body
				> *
					margin-left: 2px
