$meta-width = 12em
.comments
	border-top: 1px solid $gray-light-3
	margin-top: 2em
	.section-title
		margin: 0.625em 0 0
	.comment
		min-height: 9em
		padding: 0.75em 0 0.5em
	.comment-body
		@extend .cf
		padding-bottom: 0.5em
		position: relative
	.comment-meta
		float: left
		min-height: 9em
		width: $meta-width
		img,
		svg
			display: block
			border: 1px solid $gray-light-2
			margin-bottom: 0.25em
			width: 5em
			height: 5em
		.fn,
		.comment-author span,
		.comment-metadata
			font-size: 0.75em
			line-height: 1
		.fn,
		.comment-metadata
			margin-left: 2px
	.comment-meta + .comment-content
		margin-left: $meta-width
		width: "calc(100% - %s)" % $meta-width
		p
			margin: 0
	.comment-meta + .comment-content + .reply
		margin: 0.25em 0 0 12em
		&::before
			content: "•"
			margin-left: 0.25em
		a
			padding-left: 0.75em
	.children
		border-bottom: 1px solid $gray-light-3
		border-left: 1px solid $gray-light-3
		margin-left: 0.75em
	.comment-respond
		padding-top: 1em
		@media all and (max-width: $bp-sm-max)
			padding-bottom: 0.25em
	@media all and (max-width: $bp-xs-max)
		$img-size-xs = 8.75rem
		.comment
			margin: 0
			padding: 0
		.comment:last-of-type
			padding-bottom: 0.5em
		.comment-body
			padding-bottom: 0
		.comment-meta
			float: none
			min-height: auto
			width: 100%
		.comment-author
			position: relative
			display: flex
			flex-flow: row wrap
			align-items: flex-end
			img,
			svg
				margin-bottom: -1.375em
				order: 2
			.fn
				margin-left: 0
				order: 0
			.says
				flex-grow: 1
				margin-left: 0.375em
				order: 1
		.comment-meta + .comment-content,
		.comment-meta + .comment-content + .reply
			margin-left: 0
			width: auto
		.comment-meta
			.comment-metadata
				margin: 0.625em 0
		.children
			.comment-body
				> *
					margin-left: 2px
