.header
	div.nav,
	div[class^="menu-"]
		clear: both
		overflow: hidden
		a
			display: block
			&:hover, &:focus
				color: $gray
		@media all and (max-width: $bp-sm-max)
			background-color: $white-translucent
			max-height: 0
			position: absolute
			left: 0
			width: 100%
			z-index: 1
			&.toggle-open
				border-bottom: 1px solid $gray-light-2
			li
				border-top: 1px solid $gray-light-2
			a
				color: $gray-dark
				padding: 0.7rem $space
				&:hover, &:focus
					color: $gray
				&:active
					background-color: $gray-light-1
			.children,
			.sub-menu
				li
					padding-left: 1.2rem
		@media all and (min-width: $bp-med)
			clear: none
			float: left
			margin: $menu-margin 0
			&.fixed
				border-bottom: 1px solid $gray-light-2
				position: fixed
				top: 0
				width: 100%
				z-index: 1
			> ul
				display: flex
				flex-wrap: wrap
				align-items: center
				> .page_item_has_children,
				> .menu-item-has-children
					> .children,
					> .sub-menu
						margin-top: $menu-margin
						max-height: 0
						overflow: hidden
						padding-top: 0
						position: absolute
						transition: max-height 0.3s ease
						z-index: 2
					&:hover > a,
					> a:focus
						+ .children,
						+ .sub-menu
							// Margin and padding must be switched from unhovered/unfocused state
							// so unexpanded items don't interfere with expanded items.
							margin-top: 0
							max-height: 100vh
							padding-top: $menu-margin
			li
				padding: 0 1em
			a
				padding: 0.1rem 0
			.page_item_has_children,
			.menu-item-has-children
				li
					background-color: $white
					min-width: 11rem
					padding: 0 1.2rem
				a
					// This makes expanded menu horizontal borders align with header border bottom.
					padding: 0.05rem 0
				> a::after
					content: "▼"
					font-size: 0.75em
					margin-left: $space-half
			.children,
			.sub-menu
				li
					border: 1px solid $gray-light-2
					border-bottom: 0
					float: none
					width: 100%
				li:last-child
					border-bottom: 1px solid $gray-light-2
				a
					color: $gray-dark
					&:hover, &:focus
						color: $gray
				.children,
				.sub-menu
					background-color: transparent
					li
						border-right: 0
						border-bottom: 0
						border-left: 0
	div.nav:last-child
		@media all and (min-width: $bp-med)
			margin-left: -($space-half)
.pagination
	display: flex
	flex-wrap: wrap
	justify-content: center
	margin-bottom: 1em
	padding-top: 1em
	overflow: hidden
	.nav-links > *
		display: block
		float: left
		// Using padding for a tag to increase tappable area when the link is a numeral.
		padding: 0 0.75em
		border-right: 1px solid $gray-light-2
		&:last-child
			border: 0
	.page-numbers.current
		color: $black
		font-weight: bold
	@media all and (max-width: $bp-small - 1px)
		.nav-links > *
			&:first-child
				padding-left: 0
			&:last-child
				padding-right: 0
	@media all and (min-width: $bp-med)
		justify-content: flex-start
