.header
	div.nav,
	div[class^="menu-"]
		clear: both
		overflow: hidden
		a
			color: $black
			display: block
			&:hover, &:focus
				color: $gray
		@media all and (max-width: $bp-sm-max)
			background: $white-translucent
			border-bottom: 1px solid $gray-light-3
			max-height: 0
			position: absolute
			top: 0
			left: 0
			width: 100%
			z-index: 1
			> ul
				padding-top: $nav-toggle-height
			li
				border-top: 1px solid $gray-light-3
			a
				display: table
				padding: $space-half $space
			.children,
			.sub-menu
				li
					padding-left: 2rem
		@media all and (min-width: $bp-med)
			background: $white
			clear: none
			float: left
			padding-top: $space-quarter * 3
			&.fixed
				border-bottom: 1px solid $gray-light-3
				position: fixed
				top: 0
				width: 100%
			li
				float: left
			a
				border: 0
				padding: 0.6rem $space
			> ul > li > .children,
			> ul > li > .sub-menu
				background: $white
				position: absolute
			> ul > .page_item_has_children .page_item_has_children li,
			> ul > .menu-item-has-children .menu-item-has-children li
				padding-left: $space-half
			.page_item_has_children,
			.menu-item-has-children
				> a::after
					color: $gray
					content: "▼"
					font-size: 0.75em
					margin-left: $space-half
				&:hover
					.children,
					.sub-menu
						max-height: 100vh
			.children,
			.sub-menu
				max-height: 0
				overflow: hidden
				transition: max-height 0.3s ease
				z-index: 2
				li
					border: 1px solid $gray-light-2
					border-bottom: 0
					float: none
					width: 100%
				li:last-child
					border-bottom: 1px solid $gray-light-2
				.children,
				.sub-menu
					background: transparent
					li
						border-right: 0
						border-bottom: 0
						border-left: 0
.pagination
	display: flex
	flex-wrap: wrap
	justify-content: center
	padding-bottom: 1em
	overflow: hidden
	.nav-links > *
		display: block
		float: left
		padding: 0 $space
		border-right: 1px solid $gray-light-2
		&:last-child
			border: 0
	@media all and (max-width: $bp-small - 1px)
		.nav-links > *
			padding: 0 $space-half
			&:first-child
				padding-left: 0
			&:last-child
				padding-right: 0
	@media all and (min-width: $bp-med)
		justify-content: flex-start
