<aside id="recent-comments-3" class="widget widget_recent_comments">
	<h2 class="widget-title">Recent Comments</h2>
	<ul id="recentcomments">
		<li><span class="comment-author-link">{{> elements-time }}</span> - <a href="#">Headline Lorem ipsum dolor sit amet</a></li>
		<li><span class="comment-author-link">{{> elements-time }}</span> - <a href="#">Laborum, molestiae, rerum, dolores eveniet </a></li>
		<li><span class="comment-author-link">{{> elements-time }}</span> - <a href="#">quae est fugit distinctio iure odit minus non ipsum </a></li>
		<li><span class="comment-author-link">{{> elements-time }}</span> - <a href="#">dolorum deserunt omnis voluptates voluptatum</a></li>
		<li><span class="comment-author-link">{{> elements-time }}</span> - <a href="#">nventore dignissimos vel molestiae, rerum, dolore</a></li>
	</ul>
</aside>
