{{! Variables herein (other than patternlabFoot and cacheBuster) are unlikely to get replaced. }}

{{! Begin Pattern Lab (Required for Pattern Lab to run properly) }}
{{{ patternlabFoot }}}
{{! End Pattern Lab }}

	<script src="../../_scripts/src/functions.js{{ cacheBuster }}"></script>
</body>
</html>
